Hostname,IP Address,OS,CPU Count,RAM (GB),Zammad Version,Active,Last Updated,Redis,Elasticsearch,Other Packages
{% for host in groups['zammad_servers'] | sort %}
{% set facts = hostvars[host] %}
{% set zi = facts.zammad_info | default({}) %}
{{ facts.inventory_hostname | default('N/A') }},
{{ zi.ip_address | default('N/A') }},
{{ zi.os | default('N/A') }},
{{ zi.cpu_count | default('N/A') }},
{{ zi.ram_gb | default('N/A') }},
{{ zi.zammad_version | default('N/A') }},
{{ zi.zammad_active | default('N/A') }},
{{ zi.last_updated | default('N/A') }},
{{ zi.redis_version | default('N/A') }},
{{ zi.elasticsearch_version | default('N/A') }},
{{ zi.other_packages | join('; ') | default('N/A') }}
{% endfor %}
